@tailwind base;
@tailwind components;
@tailwind utilities;

.btn.btn-disabled {
  @apply text-neutral;
}

.slick-slide img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.slick-next,
.slick-preev {
  z-index: 1;
}

.slick-next:before,
.slick-prev:before {
  content: none !important;
}

.profile-carousel {
  .slick-slide img {
    aspect-ratio: auto;
  }

  .slick-track {
    display: flex;
    justify-content: center;
  }

  .slick-current {
    width: unset !important;
  }
}
